/* Google Font*/
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Montserrat|Poppins|Quicksand|Roboto+Condensed|Odibee+Sans|Cormorant+Garamond&display=swap');

/*Digital Font*/
@font-face {
 font-family:DS-DIGI;
 src: url("../assets/DS_DIGI.TTF");
} 
@font-face {
 font-family:DS-DIGI;
 src: url("../assets/DS_DIGI.eot");
} 

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

header,
section{
    overflow-x: hidden;
}

.current-topics{
    padding: 20vmin 0 10vmin 0;
    background-color: #e34f32;
}

.carousel-caption {
    position: relative;
    width: 70%;
    padding-top: 5vmin;
}

.carousel-control-prev {
    margin-left: -15vmin;
}

.carousel-control-next {
    margin-right: -15vmin;
}

.other-topics{
  padding: 10vmin 5vmin 10vmin 5vmin;
}
