@media only screen and (max-width: 768px){
    header .navbar-brand{
        padding-left: 3rem;
        padding-top: 2rem;
    }
    .section-2 .row .col-md-6 .panel{
        position: initial;
        width: initial;
        height: initial;
    }
}

@media only screen and (max-width: 320px){
    
}