@media only screen and (max-width: 768px){
    header .navbar-brand{
        display: none;
    }
    .section-2 .row .col-md-6 .panel{
        position: initial;
        width: initial;
        height: initial;
    }
    header .navbar .navbar-toggler{
        align-self: flex-end !important;
        padding: 5vmin 0 0 5vmin;
    }
    .album-outer {
        width: 33.33%;
    }
}
